//Variables para el responsive first mobile
$bp-tablet : 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

//colores
$color-black: rgba(21, 21, 21, 1);
$color-border: rgba(150, 150, 150, 1);
$color-green:rgba(78, 225, 160, 1);
$color-dark-grey:rgba(36, 36, 36, 1);
$color-grey:rgba(217, 217, 217, 1);
$color-white:rgba(255, 255, 255, 1);

//topografia
$font: "Space Grotesk", sans-serif;